
@import '~@angular/material/theming';

@mixin list-item-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

    .selected > .item{
      background-color: mat-color($accent,200) !important;
      transition: background 500ms ease-out;
    }

    .selected{
      background-color: mat-color($accent,200) !important;
      border: 2px solid mat-color($accent,400) !important;
      transition: background 500ms ease-out;
    }

    mat-chip{
      color: mat-color($accent, default-contrast) !important;
    }

    .item-editor{
      border: 2px solid mat-color($accent, 100) !important;
    }
}
  


.item-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.item{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

mat-chip-list{
  margin-left: auto;
}

.item-description{
  padding-top: 16px;
  width: 100%;
  overflow: hidden;
}