<as-split unit="percent" class="container" [useTransition]="true">
  <as-split-area size="50" #area1="asSplitArea" [minSize]="30" [visible]="PanelLeftVisible" order="1">
  <app-drop-container #outDropContainer (processedData)="outputProcessed($event)" >
  <div class="spinner" *ngIf="!(categories | async) && !(OutputProcessingError | async)?.error">
    <mat-spinner></mat-spinner>
    <div>Processing ....</div>
  </div>
  <ng-container *ngIf="(categories | async)">
    <panel-toolbar (expansion)="toggleExpansionOut($event)" (descriptions)="toggleDescriptionsOut($event)"></panel-toolbar>
  <mat-list class="container-out" cdkDropList (cdkDropListDropped)="dropCat($event)">
    <div class="itemCat" *ngFor="let category of (categories|async)" cdkDrag >
      <div class="itemCat-placeholder" *cdkDragPlaceholder></div>
      <mat-expansion-panel #OutExpansionPanel>  
        <mat-expansion-panel-header>
          <mat-panel-title>
            <fa-icon cdkDragHandle [icon]="['fas','grip-vertical']"></fa-icon>{{category.name}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
      <mat-list
        id="{{category.name}}" 
        cdkDropList 
        class="list"
        [cdkDropListData]="category.items" 
        [cdkDropListConnectedTo]="listIds"
        (cdkDropListDropped)="dropItem($event)">
        <ng-container *ngIf="category.items.length !== 0; else noItems"> 
          <list-item
          #OutitemComponents
          (cdkDragStarted)="dragStart($event)"
          [cdkDragData]="item" *ngFor="let item of category.items" 
          [item]="item" class="item" 
          (editing)="itemEditing($event)"
          (editingEnd)="itemEditingEnd($event)"
          (cdkDragMoved)="log($event)"
          cdkDrag>
            <div class="item-placeholder" *cdkDragPlaceholder></div>
          </list-item>
        </ng-container>
        <ng-template #noItems><div class="no-items mat-h3">Nessun elemento nella categoria {{category.name}}</div></ng-template>
        </mat-list>
          </ng-template>
        </mat-expansion-panel>
    </div>
  </mat-list>
  </ng-container>
  <div class="out-error" *ngIf="(OutputProcessingError | async)?.error">
    <div class="error-container">
      <fa-icon [icon]="['fa','exclamation-triangle']" class="fa-7x"></fa-icon>
      {{(OutputProcessingError| async)?.message}}
      <button mat-button class="retry-error" (click)="resetDropContainerOut()">
        <fa-icon [icon]="['fa','redo-alt']"></fa-icon>
        Reprocess File
      </button>
    </div>
  </div>
</app-drop-container>
</as-split-area>
<as-split-area class="split-area" size="70" #area2="asSplitArea" [minSize]="30" [visible]="PanelRightVisible" order="2">
    <app-drop-container [input]="'input'" (processedData)="outputProcessed($event)" >
      <!-- <ng-scrollbar #scrollright [compact]="true" [shown]="'always'" [disableOnBreakpoints]="false"> -->
      <h5>Initial size: <b>70%</b></h5>
      <h5>Current size: <b> sad</b></h5>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eodolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
      <!-- </ng-scrollbar> -->
    </app-drop-container>
</as-split-area>
</as-split>

