<as-split unit="percent" class="container" [useTransition]="true">
  <as-split-area size="50" #area1="asSplitArea" [minSize]="30" [visible]="PanelLeftVisible" order="1">
  <app-drop-container 
  #outDropContainer 
  (processedData)="outputProcessed($event)" 
  [config]="{text: 'DROP OUTPUT FILE HERE'}" 
  [dialogConfig]="outDropConfig">
    <category-list
    #outputList
    (reset)="resetDropContainerOut()"
    [linkTo]="inputList"
    [data]="outData"></category-list>
  </app-drop-container>
</as-split-area>
<as-split-area class="split-area" size="70" #area2="asSplitArea" [minSize]="30" [visible]="PanelRightVisible" order="2">
  <app-drop-container 
  #inDropContainer 
  (processedData)="inputProcessed($event)" 
  [config]="{text: 'DROP INPUT FILE HERE'}" 
  [dialogConfig]="inDropConfig">
    <category-list
    #inputList
    (reset)="resetDropContainerIn()"
    [linkTo]="outputList"
    [data]="inData"></category-list>
  </app-drop-container>
</as-split-area>
</as-split>

