<form [formGroup]="form">
<h2>{{data.title}}</h2>
<mat-form-field>
  <input matInput formControlName="name" placeholder="Name">
</mat-form-field>
<mat-tab-group class="description-form" (selectedTabChange)="updateDesc()">
  <mat-tab label="Edit description">
    <mat-form-field class="textarea-form">
      <textarea
      placeholder="Description"
      matInput
      cdkTextareaAutosize
      #autosize="cdkTextareaAutosize"
      formControlName="description"></textarea>
    </mat-form-field>
  </mat-tab>
  <mat-tab label="Preview">
    <div class="preview">
      <markdown class="preview" [data]="previewDesc" ></markdown>
    </div>
  </mat-tab>
</mat-tab-group>
<button mat-raised-button color="accent" (click)="confirm()">
  <ng-container *ngIf="data.mode === 'edit'">Close</ng-container>
  <ng-container *ngIf="data.mode === 'create'">Add</ng-container>
</button>
</form>