<mat-form-field>
  <mat-label>Difficulty</mat-label>
  <mat-select (selectionChange)="preventCloseEditMode()" [(value)]="item.difficulty" [compareWith]="compareDifficulty">
    <mat-option *ngFor="let diff of difficultyValues" [value]="diff">
      {{diff.class}}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field>
  <input matInput placeholder="Name" [(ngModel)]="item.name">
</mat-form-field>
<mat-divider></mat-divider>
<h4>Edit Link</h4>
<mat-form-field>
  <input matInput placeholder="Tag" [(ngModel)]="item.link.tag">
</mat-form-field>
<mat-form-field>
    <input matInput placeholder="Link" [(ngModel)]="item.link.link">
  </mat-form-field>
<mat-divider></mat-divider>
<mat-tab-group>
  <mat-tab label="Edit description">
    <mat-form-field class="textarea">
      <textarea
      (focus)="preventCloseEditMode(false)"
      (focusout)="restoreCloseEditMode()"
      placeholder="Description"
      matInput
      cdkTextareaAutosize
      #autosize="cdkTextareaAutosize"
      [(ngModel)]="item.description"></textarea>
    </mat-form-field>
  </mat-tab>
  <mat-tab label="Preview">
    <div class="preview">
      <markdown class="preview" [data]="item.description" ></markdown>
    </div>
  </mat-tab>
</mat-tab-group>