<form [formGroup]="form">
<mat-form-field>
  <input matInput formControlName="name" placeholder="Name"> <!--[(ngModel)]="item.name"-->
</mat-form-field>
<h4>Edit Difficulty</h4>
<mat-form-field>
  <input matInput formControlName="difficultyName" placeholder="Difficulty Name">
</mat-form-field>
<mat-form-field>
  <mat-label>Difficulty Style</mat-label>
  <mat-select formControlName="difficultyColor" [value]="_item.difficulty.style" (selectionChange)="preventCloseEditMode()" [compareWith]="compareDifficulty">
    <mat-option *ngFor="let diff of difficultyValues" [value]="diff">
      {{diff.class}}
    </mat-option>
  </mat-select>
</mat-form-field>
<h4>Edit Link</h4>
<mat-form-field>
  <input matInput formControlName="linkTag" placeholder="Tag">
</mat-form-field>
<mat-form-field>
  <input matInput formControlName="link" placeholder="Link">
</mat-form-field>
<mat-tab-group (selectedTabChange)="updateDesc()">
  <mat-tab label="Edit description">
    <mat-form-field class="textarea">
      <textarea
      (focus)="preventCloseEditMode(false)"
      (focusout)="restoreCloseEditMode()"
      placeholder="Description"
      matInput
      cdkTextareaAutosize
      #autosize="cdkTextareaAutosize"
      formControlName="description"></textarea>
    </mat-form-field>
  </mat-tab>
  <mat-tab label="Preview" >
    <div class="preview">
      <markdown class="preview" [data]="previewDesc"></markdown>
    </div>
  </mat-tab>
</mat-tab-group>
</form>
