/* You can add global styles to this file, and also import other style files */
// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "assets/fonts/fonts.css";

// Import library functions for theme creation.
@import '~@angular/material/theming';
// Import scheme for editor
@import 'app/components/editor/editor.component.scss';
@import 'app/components/item/item.component.scss';

// Include non-theme styles for core. 
@include mat-core();

// Define your application's custom theme.
$primary: mat-palette($mat-blue);
$accent:  mat-palette($mat-light-blue, A200, A100, A400);
$theme: mat-light-theme($primary, $accent);

// Include theme styles for Angular Material components.
@include angular-material-theme($theme);
@include list-item-theme($theme);

// Include theme styles for your custom components.
@include lists-theme($theme);

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

// .loading-app {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   height: 100%;
//   animation: fadein 2s;
//   animation-delay: 100ms;
// }

// @keyframes fadein {
//   from { opacity: 0; }
//   to   { opacity: 1; }
// }