/* You can add global styles to this file, and also import other style files */
// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "assets/fonts/fonts.css";

// Import library functions for theme creation.
@import '~@angular/material/theming';
// Import scheme for editor
@import 'app/components/item/item.component.scss';
@import 'app/components/drop-container/drop-container.component.scss';
@import 'app/components/home/home.component.scss';
@import 'app/components/toolbar/toolbar.component.scss';
@import 'app/components/category-list/category-list.component.scss';
@import 'app/components/dialog-box/dialog-box.component.scss';

// Include non-theme styles for core. 
@include mat-core();

// Define your application's custom theme.
$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-blue, A200, A100, A400);
$theme: mat-light-theme($primary, $accent);

// // Include theme styles for Angular Material components.
@include angular-material-theme($theme);
// Include theme styles for your custom components.
@include list-item-theme($theme);
@include drop-container-theme($theme);
@include home-toolbar-theme($theme);
@include panel-toolbar-theme($theme);
@include category-list-theme($theme);
@include dialog-box-theme($theme);

@mixin global-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $error: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  blockquote{
    margin-inline-start: 0;
    border-left: mat-color($primary) 5px solid;
    padding: 0 4px;
  }

  .snack-error{
      background: mat-color($error);
      color: mat-color($error, default-contrast);
      width: 60%!important;
      margin: 16px auto !important;
  }

  .snack-error button{
      color: mat-color($error, default-contrast);
  }

  .snack-info{
    width: 60%!important;
    margin: 16px auto !important;
  }
}
@include global-theme($theme);

.theme-dark{
  $dark-primary: mat-palette($mat-blue);
  $dark-accent: mat-palette($mat-light-blue, A200, A100, A400);
  $dark-theme: mat-dark-theme($dark-primary, $dark-accent);

  @include angular-material-theme($dark-theme);
  @include drop-container-dark-theme($dark-theme);
  @include home-toolbar-dark-theme($dark-theme);
  @include category-list-dark-theme($dark-theme);
  @include panel-toolbar-dark-theme($dark-theme);
  @include list-item-dark-theme($dark-theme);
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

mat-tab-body{
  margin-top: 16px;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background:lightgrey; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:grey; 
}